<body>

<div class="row">

  
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= @gossip[0][:titre] %></h6>


    <p class="card-text"><%= @gossip[0][:content] %></p>


    <h6 class="card-subtitle mb-2 text-muted"><%= User.where(id: @gossip[0][:user_id])[0]["name"] %></h6> 
    <h7 class="card-subtitle mb-2 text-muted"><%= @gossip[0][:created_at] %></h7> 
 

<% if session[:user_id] %>
<div class="row">
<% if Like.where(user_id: session[:user_id][0]["id"], gossip_id: @gossip[0][:id]).exists? %>



  <form action="/gossip/unlike/<%= @gossip[0][:id] %>" method="POST">

  <button type="submit" class="btn btn-primary mb-2">Dislke</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<%= Like.where(gossip_id: @gossip[0][:id]).count %>
  </form>



<% else %>


  <form action="/gossip/like/<%= @gossip[0][:id] %>" method="POST">

  <button type="submit" class="btn btn-primary mb-2">Liker</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


<%= Like.where(gossip_id: @gossip[0][:id]).count %>
  </form>



<% end %>


<% if @gossip.where(id: @gossip[0][:id] , user_id: session[:user_id][0]["id"]).exists? %>



  <form action="/gossip/destroy/<%= @gossip[0][:id] %>" method="POST">


  <button type="submit" class="btn btn-primary mb-2">Suprimer</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  </form>

  <a href="/gossip/edit/<%= @gossip[0][:id] %>">

  <button type="submit" class="btn btn-primary mb-2">Editer</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  </a>
<% end %>

<%else%>

<%= Like.where(gossip_id: @gossip[0][:id]).count %>

<% end %>
	<div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Commenter
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
		<form action="/gossip/creatcomment/<%= @gossip[0][:id]%>" method="POST">
		  <div class="form-group">
		    <label for="formGroupExampleInput2"></label>
		    <input type="hidden" name="comment_id2" value="0">
		    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="contenue" name="content">
		  </div>
		  <button type="submit" class="btn btn-primary mb-2">Commenter</button>
		  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		</form>
	  </div>
	</div>

	<div>
		<% @comment_id = 1 %>
		<% @all_comment.each do |user| %>
		<p> <%= user[:comment] %> <%= user[:commenteable_id] %></p>


			<div class="dropdown">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Commenter
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<form action="/gossip/creatcomment/<%= @gossip[0][:id]%>" method="POST">
				  <div class="form-group">
				    <label for="formGroupExampleInput2"></label>
				    <input type="hidden" name="comment_id2" value="<%= @comment_id %>">
				    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="contenue" name="content">
				  </div>
				  <button type="submit" class="btn btn-primary mb-2">Commenter</button>
				  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				</form>
			  </div>
			</div>

		<% @comment_id += 1 %>
		<% end %>

</div>










</div>
</div>
</div>
</div>


</body>








