<body>

<div class="row">

    <% @gossip_id = 1 %>
    <% @all_gossip.each do |gossip| %>
  
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= gossip[:titre] %></h6>
    <p class="card-text"><%= gossip[:content] %></p>
    <h6 class="card-subtitle mb-2 text-muted"><%= User.where(id: gossip[:user_id])[0]["name"] %></h6> 
    <h7 class="card-subtitle mb-2 text-muted"><%= gossip[:created_at] %></h7> 
 <a href="/gossip/<%= gossip[:id] %>" class="btn btn-primary">Voir la page</a>



<% if session[:user_id] %>

<% if Like.where(user_id: session[:user_id][0]["id"], gossip_id: gossip[:id]).exists? %>



  <form action="/gossip/unlike/<%= gossip[:id] %>" method="POST">

  <button type="submit" class="btn btn-primary mb-2">Dislke</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<%= Like.where(gossip_id: gossip[:id]).count %>
  </form>



<% else %>


  <form action="/gossip/like/<%= gossip[:id] %>" method="POST">

  <button type="submit" class="btn btn-primary mb-2">Liker</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


<%= Like.where(gossip_id: gossip[:id]).count %>
  </form>


<% end %>

<% end %>


<% if Gossip.where(id: gossip[:id] , user_id: session[:user_id][0]["id"]).exists? %>



  <form action="/gossip/destroy/<%= gossip[:id] %>" method="POST">


  <button type="submit" class="btn btn-primary mb-2">Suprimer</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  </form>

  <a href="/gossip/edit/<%= gossip[:id] %>">

  <button type="submit" class="btn btn-primary mb-2">Editer</button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  </a>
<% end %>



  </div>
</div>


    <% @gossip_id += 1 %>
    <% end %>

</div>




</body>